<!DOCTYPE html>
<html lang="en">
	<head>
	<title> Chirayu Gupta </title>
   <link rel="shortcut icon" href="images/favicon.ico">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- custom styles -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link "  href="{{url_for('about')}}">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('resume')}}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('form')}}">Sample Form</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </head>
<body class="d-flex flex-column">  
    <main class="container-fluid p-4">
        <div >
          <div class="row">
            <div class="col-6">
              <br>
              <br>
              <br>
          <h2> My Story </h2>
          <p> Born and raised in suburban Illinois, I was always a nerdy and passionate child. I built my first PC at 15 and I've been coding since I can remember. I started with Scratch and have grown to learn many different languages and use cases throughout the years. 
            I'm a diehard White Sox fan, no matter how difficult things may be, and I frequently go to games when I can. I also enjoy playing Tennis and Pickleball with friends during my free time. I'm also a massive gamer, though the catalog has been less diverse recently due to less free time. 
          </p>
          <br>
          <br>
          <h2> Academic Career</h2>
          <br>
                <p>My undergraduate degrees were in Information Systems and Business Analytics from the Kelley School of Business, alongside a Certificate in Informatics from the Luddy School of Informatics, Engineering and Computing. After I completed my program, I returned IU Bloomington for my Master's program, the Master's of Information Systems (MSIS) program. 
                  This program has allowed me to flourish in my business and technical skills while gaining more relevant real-world knowledge and practice. Here is a list of some soft skills I have learned during my career so far:
                  <ul>
                    <li>
                      Enterprise Architecture Development
                    </li>
                    <li>
                      Business Process Diagramming
                    </li>
                    <li>
                      Extensive Case Analysis 
                    </li>
                    <li>
                      IT Infrastructure Management
                    </li>
                    <li>
                      Deep Team Collaboration 
                    </li>
                    <li> Project Management</li>
                    <li> Social Media Management</li>
                    
                  </ul>
                </p>

        </div>
        <div class="col-6">
          <br>
          <br>
          <br>
        <h2 class="a"> Technical Skills</h2>
        <table class="center">
          <thead>
            <tr>
              <th>
                Software Name </th>
                <th> Years of Experience</th>
              <th> Comfortability Level (1 - 5)</th>
            </tr>
          </thead>
          <tbody>
            <tr> <td> Microsoft Office Suite</td>
              <td> 8</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr> <td> SQL</td>
              <td> 5</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr> <td> Python</td>
              <td> 4</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr> <td> HTML/CSS</td>
              <td> 4</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></td>
            </tr>
            <tr> <td> R</td>
              <td> 3</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked "></span>
                <span class="fa fa-star"></span></td>
            </tr>

            <tr> <td> SAP S/4 HANA</td>
              <td> 2</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> Java</td>
              <td> 2</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> C#</td>
              <td> 1</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> AWS EC2</td>
              <td> 1</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> AWS S3 Buckets</td>
              <td> 1</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> RPA (Automation Anywhere)</td>
              <td> 1</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
            <tr> <td> PHP</td>
              <td> 1</td>
              <td> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></td>
            </tr>
          </tbody>
        </table>
        </div>

                      
        <div class="row">
          <h2> Professional Experience & Achievements</h2>
          <div class="col-9">
            <table>
              <thead>
                <tr>
                  <th>
                    Position Name
                  </th>
                  <th>
                    Company / Affiliation
                  </th>
                  <th>
                    Dates in Position
                  </th>
                  <th>
                    Description
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td class = 'b'>
                    Student Ambassador 
                  </td>
                  <td>
                    Kelley School of Business, MSIS Program
                  </td>
                  <td class = 'b'>
                    September '24 - Present
                  </td>
                  <td class = 'b'>
                    I have worked with the MSIS program office to reach out to prospective students. By attending career fairs and hosting kiosk hours, we are able to make a more personal connection with students and help them onboard easily if they choose to join the program! 
                  </td>
                </tr>
                <tr>
                  <td class = 'b'>
                    Teaching Assistant - Information Infrastructure II  
                  </td>
                  <td>
                    Luddy School of Informatics, Computing and Engineering
                  </td>
                  <td class = 'b'>
                    January '23 - December '23
                  </td>
                  <td class = 'b'>
                    I collaborated with the teaching staff to enhance student learning by contributing to discussions on course material and suggesting curriculum improvements. Additionally, I hosted frequent office hours and provided swift grading with detailed feedback. 
                  </td>
                </tr>
                <tr>
                  <td class = 'b'>
                    Technology Consulting Intern - SAP 
                  </td>
                  <td>
                    Ernst & Young
                  </td>
                  <td class = 'b'>
                    June '23 - July '23
                  </td>
                  <td class = 'b'>
                    I collaborated with a project team on the order-to-cash workstream to implement SAP S/4 HANA as the client's ERP system. To support our efforts, I created flowcharts, invoice templates, and software tutorials, ensuring everyone had the resources needed to understand their tasks.                </tr>
                    <tr>
                      <td class = 'b'>
                        Executive Director
                      </td>
                      <td>
                        Gaming @ IU
                      </td>
                      <td class = 'b'>
                        August '22 - July '23
                      </td>
                      <td class = 'b'>
                        I organized biannual events for over 150 participants, focusing on venue selection and details with the team to maintain program interest. I also participated in meetings to explore supplemental events, aiming to boost year-to-year participation after the pandemic disrupted connections.                      </td>
                    </tr>
                    <tr>
                  <td class = 'b'>
                    Teaching Assistant - Information Infrastructure I 
                  </td>
                  <td>
                    Luddy School of Informatics, Computing, and Engineering
                  </td>
                  <td class = 'b'>
                    January '22 - January '23
                  </td>
                  <td class = 'b'>
                    I taught two lab sections each week, guiding approximately 35 students. I also graded 15-20 projects three times a semester, ensuring timely feedback. To support students further, I held office hours twice a week, fostering an environment where they felt comfortable asking questions.                   </td>
                </tr>
                <tr>
                  <td class = 'b'>
                    Officer of Esports
                  </td>
                  <td>
                    Gaming @ IU
                  </td>
                  <td class = 'b'>
                    August '21 - August '22
                  </td>
                  <td class = 'b'>
                    I focused on fostering community engagement by encouraging brand representatives to sponsor events with over $5,000 in prizes to boost participation. Additionally, I assisted with event organization.                </tr>
                    <tr>
                  <td class = 'b'>
                    Associate
                  </td>
                  <td>
                    IU Bookstore
                  </td>
                  <td class = 'b'>
                    November '21 - February '22
                  </td>
                  <td class = 'b'>
                    I was a clerk in the textbooks section of the bookstore. Additionally, I processed online orders. 
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-3">
            <table>
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Date of Achievement
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Teaching Assistant of the Year
                  </td>
                  <td>
                    2023
                  </td>
                </tr>
                <tr>
                  <td>Gen.G Scholarship Recipient</td>
                  <td> 2022 - 2023</td>
                </tr>
                <tr>
                  <td>
                    STEM Thematic Community Participant
                  </td>
                  <td>
                    2023 - 2024
                  </td>
                </tr>
                <tr> 
                  <td> Jellison Living and Learning Community Participant</td>
                  <td> 2020 - 2021</td>
                </tr>
                <tr>
                  <td> Hutton Honors College Member</td>
                  <td> 2020 - 2023</td>
                </tr>
                <tr>
                  <td>
                    Kelley School of Business - Direct Admit
                  </td>
                  <td> 2019</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
            
            </div>
          </div>



    </main>
   <footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <span class="text-muted"> <i>Chirayu Gupta &copy; 2024 </i></span>
    </div>
    </footer>


</body>
</html>