{% extends 'base.html' %}
{% block title %} Contact Me {% endblock %}
{% block content%}
    <main class="d-inline-flex p-5 align-items-end">
        <div class="container p-5">
          <p2> Connect with Me!</p2>
          <ul>
            <li>
              <a href="mailto:chirayugupta14@gmail.com"> Email</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/guptachirayu/">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/cgupta2002"> GitHub</a>
            </li>
          </ul>
        </div>


    </main>
{% endblock %}

</html>