{% extends 'base.html' %}
{% block title %} Sample Form {% endblock %}
{% block content%}
    <main class="d-inline-flex p-5 align-items-end">
        <div class="container p-5">
          <p> This webpage is specifically a test form for the class I created this website for (Software and Product Development).</p>
          <form id="form" action="{{url_for('complete')}}" method="POST">
          <div class="row">
              <div class="col-2" style="text-align:right;">
                <label class="a" for="fname">First Name:</label> <br>
                <label class="a" for="lname">Last Name:</label><br>
                <label class="a" for="email">Email Address:</label><br>
                <label class="a" for="password">Password:</label><br>
                <label class="a" for="confirm">Confirm Password:</label><br>
              </div>
              <div class="col-9">
              <input class="a" type="text" id="fname" name="fname" required>  <br>
              <input class="a" type="text" id="lname" name="lname" required><br>
              <input class="a" type="email" id="email" name="email" pattern="+@+" required> <br>
              <input class="a" type="password" id="password" name="password" minlength="8" required>  <br>
              <input class="a" type="password" id="confirm" name="confirm" minlength="8" required>  
              <div class="col-2">
                <span id="errorMessage" class="error"></span> <br>
                <input type="submit" value="Submit" onclick="return validatePassword()">

              </div>
              </div>

            </div>


          </form>

 
          <script>
            function validatePassword() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm').value;
            const errorMessage = document.getElementById('errorMessage');

            if (password !== confirmPassword) {
                errorMessage.textContent = "Passwords do not match!";
                return false; 
            }
            errorMessage.textContent = "";
            return true; 
          }
        </script>
  

          </div>

    </main>
{% endblock %}


</html>