{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content%}

    <main class="d-inline-flex p-5 align-items-end">
        <div class="container p-5">
          <div> <h2> Welcome to My Portfolio!</h2></div>
          <div>
            <p> My name is Chirayu Gupta and I am a Graduate Student in the Master's in Information Systems (MSIS) program through the Kelley School of Business.
            I was born and raised in the suburbs of Chicago, and I look to work in Business Intelligence after graduating. I hope to travel across the world and eventually settle down continue my mission of helping those in need. Outside of school, I am a big fan of baseball and enjoy playing video games with friends. </p>
           </div>
           <br>
          <h4> Learn More About My Work:</h4>
          <ul>
          <li class="a">
            <a href="{{url_for('about')}}">About Me</a>: My background, personal interests and professional goals.
          </li>
          <li class="a">
            <a href="{{url_for('resume')}}" src="dothis.js?r=591">Resume</a>: My recent professional and academic experiences and skillset. 
          </li>
          <li class="a">
            <a href="{{url_for('projects')}}" src="dothis.js?r=591">Projects</a>: Interactive collaborative work using my technical acumen. 
          </li>
          <li class="a">
            <a href="{{url_for('contact')}}">Contact</a>: Reach out to me with any questions or to connect!
          </li>
          <li class="a">
            <a href="{{url_for('form')}}">Sample Form</a>: A sample form for my Software and Product Development class.
          </li></ul>
        </div>

    </main>
    {% endblock %}

</html>