{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<main>
    <!-- Hero Section -->
    <section class="text-center text-light p-3" style="background: linear-gradient(to right, #4facfe, #00ffed);">
        <div class="container">
            <h1 class="display-4 fw-bold">Welcome to My Portfolio!</h1>
        </div>
    </section>

    <!-- About Section -->
    <section class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="/static/images/me.jpg" alt="Profile Picture" class="img-fluid rounded-circle shadow" style="max-width: 60%;">
            </div>
            <div class="col-lg-8">
                <h2 class="fw-bold">Hello, I'm Chirayu Gupta!</h2>
                <p>
                    I am a Graduate Student in the Master's in Information Systems (MSIS) program through the Kelley School of Business.
                    Born and raised in the suburbs of Chicago, I aspire to build a career navigating the meeting point between business and technology, explore the world, and help those in need.
                    Outside of academics, I am a baseball enthusiast and enjoy playing video games with friends.
                </p>
            </div>
        </div>
    </section>

    <!-- Navigation Section -->
    <section class="bg-light py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-3">
                    <div class="card h-100 shadow">
                        <div class="card-body text-center">
                            <h5 class="card-title">About Me</h5>
                            <p class="card-text">Explore my background, personal interests, and professional goals.</p>
                            <a href="{{url_for('about')}}" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100 shadow">
                        <div class="card-body text-center">
                            <h5 class="card-title">Resume</h5>
                            <p class="card-text">View my professional, academic, and leadership experience<p>
                            <a href="{{url_for('resume')}}" class="btn btn-primary">View Resume</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100 shadow">
                        <div class="card-body text-center">
                            <h5 class="card-title">Projects</h5>
                            <p class="card-text">Collaborative work showcasing my technical knowledge.</p>
                            <a href="{{url_for('projects')}}" class="btn btn-primary">Discover</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100 shadow">
                        <div class="card-body text-center">
                            <h5 class="card-title">Contact</h5>
                            <p class="card-text">Reach out with any questions or to connect!</p>
                            <a href="{{url_for('contact')}}" class="btn btn-primary">Connect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
