<!DOCTYPE html>
<html lang="en">
	<head>
	<title> Chirayu Gupta </title>
   <link rel="shortcut icon" href="images/favicon.ico">
   <!-- custom styles -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link "  href="{{url_for('about')}}">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('resume')}}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('form')}}">Sample Form</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </head>
<body class="d-flex flex-column">  
    <main class="d-inline-flex p-5 align-items-end">
        <div class="container p-5"> 
          <h1> Project Work</h1>
          <p> Throughout my career, I have worked with many diverse groups with valuable insights. Here are some projects I have completed on these teams:
          <br><i>Note: Many of these projects are 2-3 years old, if not more. Not all functionality remains and do not necessarily reflect my current skills.</i></p>
          <ul>
            <li>
              <p><a href="https://cgi.luddy.indiana.edu/~chirgupt/I211_project.cgi"> Information Infrastructure II Final Project</a>: I created this website in late 2022 to complete the class I TA'd for a year. This website includes SQL connectivity, Python/Flask development, and basic HTML/CSS skills.  </p>
            </li>
            <li>
              <p><a href="https://chirgupt.pages.iu.edu/MSIS_Capstone_Project/index.html"> Digital Solution Design Final Project</a>: This website was a front-end prototype for our project, which was centered around building a platform for the MSIS program. This website was created solely using HTML/CSS.</p>
            </li>
            <li>
              <p> <a href="https://cgi.luddy.indiana.edu/~chirgupt/main.php">Information Representation Final Project</a>: This website was connected to a SQL database and used PHP to pass data between the website and database.</p>
            </li>
            <li>
              <p><a href="https://github.com/cgupta2002/K304FinalProject"> Technology and Business Analysis Final Project</a>: This script was my final project using R. I compiled data for my favorite baseball team and compared their team statistics over the past 10 years alongside the stats of the top 5 players each year.</p>
            </li>
          </ul>
        </div>


    </main>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container">
        <span class="text-muted"> <i>Chirayu Gupta &copy; 2024 </i></span>
    </div>
    </footer>


</body>
</html>