{% extends 'base.html' %}
{% block title %} Projects {% endblock %}
{% block content%}
    <main class="d-inline-flex p-5 align-items-end">
        <div class="container p-5"> 
          <h1> Project Work</h1>
          <p> Throughout my career, I have worked with many diverse groups with valuable insights. Here are some projects I have completed on these teams:
          <br><i>Note: Many of these projects are 2-3 years old, if not more. Not all functionality remains and do not necessarily reflect my current skills.</i></p>
          <ul>
            <li>
              <p><a href="https://cgi.luddy.indiana.edu/~chirgupt/I211_project.cgi"> Information Infrastructure II Final Project</a>: I created this website in late 2022 to complete the class I TA'd for a year. This website includes SQL connectivity, Python/Flask development, and basic HTML/CSS skills.  </p>
              <img src="{{url_for('static', filename='images/i211.png')}}" style="width:500px; height:relative;">
            </li>
            <li>
              <p><a href="https://chirgupt.pages.iu.edu/MSIS_Capstone_Project/index.html"> Digital Solution Design Final Project</a>: This website was a front-end prototype for our project, which was centered around building a platform for the MSIS program. This website was created solely using HTML/CSS.</p>
              <img src="{{url_for('static', filename='images/s310.png')}}" style="width:500px; height:relative;">
            </li>
            <li>
              <p> <a href="https://cgi.luddy.indiana.edu/~chirgupt/main.php">Information Representation Final Project</a>: This website was connected to a SQL database and used PHP to pass data between the website and database.</p>
              <img src="{{url_for('static', filename='images/i308.png')}}" style="width:500px; height:relative;">

            </li>
            <li>
              <p><a href="https://github.com/cgupta2002/K304FinalProject"> Technology and Business Analysis Final Project</a>: This script was my final project using R. I compiled data for my favorite baseball team and compared their team statistics over the past 10 years alongside the stats of the top 5 players each year.</p>

            </li>
          </ul>
        </div>


    </main>
{% endblock %}

</html>